* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #222;
}
main {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
  width: 60px;
  height: 60px;
}
.container::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
.container::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -9px;
  height: 100%;
  width: 10px;
  background-color: #2a2a2a;
  transform-origin: left;
  transform: skewY(-41deg);
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  font-size: 30px;
  transition: 0.3s;
}
main:hover .layer {
  z-index: 1000;
  transition: 0.5s;
  color: black;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  background-color: white;
}
main:hover .layer:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
main:hover .layer:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
main:hover .layer:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
main:hover .layer:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
main:hover .layer:nth-child(1) {
  /* transform: translate(10px, -10px); */
  opacity: 0.2;
}
